/********************************************
  			          	
 *******************************************/ 
 
/********************************************
   HTML 
********************************************/ 

/* Top elements */
* { padding: 0; margin: 0; }

body {
	margin: 0; 	padding: 0;
	font: normal .70em/1.6em Verdana, 'Trebuchet MS', Tahoma, sans-serif;
	color: #444;
	text-align: center;
	background:#FFFFFF;	
}

/* links */
a {
	color:#348781; 
	background-color: inherit;
	text-decoration: underline;	
}
a:hover {
	color:#306754;
	background-color:#FFFFFF;
	text-decoration: underline;
	
}

/* headers */
h1 { font-size: 1.0em; } 
h2 { font-size: 1.1em; color:#348781;letter-spacing: 2px; }
h3 { font-size: 1.3em; color:#348781; letter-spacing: 0px;}
h4 { font: bold 1.0em Verdana, 'Trebuchet MS', Tahoma, sans-serif;letter-spacing:1px; padding: 0 25px;	}
h5 { font: bold 1.0em Verdana, 'Trebuchet MS', Tahoma, sans-serif;letter-spacing:1px; padding: 0 55px;	}
h6 { font: bold 1.8em "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;letter-spacing:1px; padding: 0 55px;color:#348781;letter-spacing: 4px;	}

p, h1, h2, h3 {
	margin: 10px 15px;
	padding: 0;
}

ul, ol {
	margin: 10px 30px;
	padding: 0 15px;	
}

/* start - table */
table {
	border-collapse: collapse;
	margin: 15px 0;	
}
th strong {
	color: #FFFFFF;
}
th {
	background: #348781;
	height: 29px;
	padding-left: 12px;
	padding-right: 12px;
	color: #FFFFFF;
	text-align: left;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	white-space:nowrap;
}
tr {
	height: 30px;
	background: #E6E6E6;/*   table back ground color*/
}
td {
	padding-left: 11px;
	padding-right: 11px;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	font: bold 1.0em Verdana, 'Trebuchet MS', Tahoma, sans-serif;
	white-space:nowrap;
	letter-spacing:1px;	
}
/* end - table */


/* form elements */
form {
	margin: 0px;
	padding: 0;
	border: 0px solid #FFFFFF; 
	background: #FFFFFF;	
}
label {
	display:block;
	font-weight:bold;
	margin:2px 0;
}
input {
	padding: 1px 5px;
	border: 1px solid #D8D8D8;
	font: normal 1.2em Verdana, 'Trebuchet MS', Tahoma, sans-serif;
	color: #000000;
}

.button {
    border: 1px solid #006;
    color: #FFFFFF;
    background: Gray;
}

.button:hover {
    border: 1px solid #006;
    background:#348781 ;
    padding: 1px 6px;
}

label {
    display: block;
    width: 150px;
    float: left;
    margin: 2px 4px 6px 4px;
    text-align: right;
}
br { clear: left; }


/***********************
	  LAYOUT
************************/

#header-content, #footer-content, #content {
	min-width: 810px;		
	max-width: 100%;
}
#header-wrap, #footer-wrap, #content-wrap {
	min-width: 810px;	
	max-width: 100%;
}

/* header */
#header-wrap {
	height: 110px;
	text-align: left;	
	background: #348781 ;			
}
#header-content {
	position: relative;
	margin: 0 auto; 
	padding: 0;
}
#header-content #logo {
	position: absolute;	
	font: normal 90px/65px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 15px; 
	color: #FFFFFF;
	border: 0px ;
	height: 65px;
	padding: 0 10px;
	margin: 0;
	top: 15px; left: 0px;
}
#header-content #logo2 {
	position: absolute;	
	font: normal 25px/65px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px; 
	color: #FFFFFF;
	border: 0px ;
	height: 65px;
	padding: 0 10px;
	margin: 0;
	top: 18px; right: 0px;
}
#header-content #logo a {
	text-decoration: none;
	color: #FFFFFF;
	background: transparent;
}
#header-content #slogan {
	position: absolute;	
	font: normal 15px 'Trebuchet MS', Tahoma, sans-serif;
	letter-spacing: 1px;
	color: #FFFFFF;	 
	margin: 0; padding: 0;
	top: 82px; left: 40px;
}
#header-content #slogan2 {
	position: absolute;	
	font: normal 15px 'Trebuchet MS', Tahoma, sans-serif;
	letter-spacing: 1px;
	color: #FFFFFF;	 
	margin: 0; padding: 0;
	top: 82px; right: 10px;
}
#header-content #slogan3 {
	position: absolute;	
	font: normal 18px 'Trebuchet MS', Tahoma, sans-serif;
	letter-spacing: 3px;
	color: #FFFFFF;	 
	margin: 0; padding: 0;
	top: 2px; right: 10px;
}

/* header menu */
#header-content ul {
	position: absolute;
	left: 5px;
	top: 130px;
	font: bold 12px Georgia, "Times New Roman", Times, serif;
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#header-content li {
	display: inline;
}
#header-content li a {
	float: left;
	font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	display: block;
	padding: 0px 18px 7px 18px;	
	color: #348781; 
	text-decoration: none;
	letter-spacing:1px;	
}
#header-content li a:hover {
	color: #15317E;
	text-decoration: underline;
}
#header-content li a#current  {	
	color: #FFFFFF;	
}

#header-content #header-links {
	position: absolute;
	top: 5px; right:10px;	
	color: #8E5F2F;
	font-size: 90%;
}
#header-content #header-links P {
	margin: 0; padding: 0;
}
#header-content #header-links a {	
	color: #A4A4A4;
	text-decoration: none;
}
#header-content #header-links a:hover {
	color: #F3A251;
}

/* content */
#content-wrap {
	clear: both;
	background: #FFFFFF;
	float: left;		
	width: 100%;
}
#content {
	text-align: left;	
	margin: 30px auto;
	padding: 0;	
}
/* sidebar */

.collapsemenu{
	float: left;
	width: 235px;
	margin: 0 0 0px 0px;
	padding: 10px;
}
.collapsemenu div.submenu h1 {
	font: normal 1.2em Georgia, "Times New Roman", Times, serif;
	color: black;
	padding: 0;
	margin: 1px 1px 5px 0px;	
	letter-spacing:2px;	
}
.collapsemenu div.submenu h2 {
	font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
	color: #15317E;
	text-decoration: none;
	margin: 1px 1px 5px 60px;
}
.collapsemenu a.menuitem{
background: #348781;
font: normal 1.3em Georgia, "Times New Roman", Times, serif;
color: white;
display: block;
position: relative; 
width: auto;
border: 1px solid #EFEFEF;
padding: 5px 0;
padding-left: 5px;
text-decoration: none;
letter-spacing:0px;	
}

.collapsemenu a.menuitem:visited, .collapsemenu .menuitem:active{
color: white;
}

.collapsemenu a.menuitem:hover{
background: #AFC7C7;
}

.collapsemenu div.submenu{ 
background: white;
}

.collapsemenu div.submenu ul{ 

list-style-type: none;
margin: 0;
padding: 0;
}

.collapsemenu div.submenu ul li{

border-bottom: 1px dashed #E1E1E1;	
border-top: 1px dashed #E1E1E1;	
}

.collapsemenu div.submenu ul li a{
display: block;
font: normal 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: #348781;
text-decoration: none;
padding: 2px 0;
padding-left: 10px;
letter-spacing:1px;	
}

.collapsemenu div.submenu ul li a:hover{
background:#AFC7C7;
color: white;

}
.collapsemenuvert, .collapsemenuvert li ul{
list-style-type: none;
margin: 0;
padding: 0;
width: 205px; 

}
.collapsemenuvert li{
position: relative;
}

.collapsemenuvert li a{
background: #FFFFFF;
font: bold 12px Verdana, Helvetica, sans-serif;
color: white;
display: block;
width: auto;
padding: 5px 0;
padding-left: 10px;
text-decoration: none;
}

.collapsemenuvert li ul{ 
position: absolute;
width: 190px;
left: 0;
top: 0;
display: none;
}

.collapsemenuvert li ul li{
float: left;
}

.collapsemenuvert li ul a{
width: 100px; 
}

.collapsemenuvert .arrowdiv{
position: absolute;
right: 1px;
//background: transparent url(arrow.gif) no-repeat center right;
}

.collapsemenuvert li a:visited, .collapsemenuvert li a:active{
color: white;
}

.collapsemenuvert li a:hover{
background: #AFC7C7;
}

/* for IE \*/
* html .collapsemenuvert li { float: left; height: 1%; }
* html .collapsemenuvert li a { height: 1%; }
/* main */
#main {
	margin: 0 20px 10px 0; 
	padding: 0;		
	width: 500px;
	float: left;	
}
#main h1 { 
	font: normal 2.1em Georgia, "Times New Roman", Times, serif;
	color: #111; 	
	padding: 0 0 5px 0;
	margin: 0 15px 20px 15px;
	letter-spacing:-1px;
	
}
#main h1 a {
	color: #111;
	text-decoration: none;
}
#main p, #main h1, #main h2, #main h3, #main blockquote, #main form, #main table {
	margin-left: 0;
}
#main form p {
	margin: 15px;
}


/* footer */
#footer-wrap {
	position: relative;
	clear: both;
	padding: 2.5em 0;
	font: normal .95em 'Trebuchet MS', Tahoma, sans-serif;
	text-align: left;	
	color: #CCC;
	width: 100%;
	float: left;	
}

#footer-content {	
	margin: 0 auto;		
}


/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

.number {
    text-align: right;
}
